# Temporary
.DS_Store
_autosave*
.vscode
*.kicad_pcb-bak
*.sch-bak
*.bak
*-cache.lib
*-rescue.lib
*-rescue.dcm
*.elf
*.hex
*.pyc
*.gch

# jekyll
_site

# node js
node_modules
package-lock.json

datasheets
gerbers
