# Temporary
.DS_Store
_autosave*
.vscode
*.kicad_pcb-bak
*.sch-bak
*.bak
*-cache.lib
*-rescue.lib
*-rescue.dcm
*.elf
*.hex
*.pyc
*.gch

# jekyll
ideas
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# node js
node_modules
package-lock.json

# build files
build

# hardware
datasheets
gerbers

# mechanical
*.FCStd1

# text editor
!.vscode
